---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<twilio account sid>/Messages.json
    body:
      encoding: UTF-8
      string: Body=You+are+at+Moringa&To=111111&From=987654321
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMzN2M3OWRhMTE1NTJhNDJkZWVhNTAxMzBmYTkwOTUyMzplMDRmMTdlODhlYjdiOGM4MWZlYjFiOTUxZGNkN2EyZg==
  response:
    status:
      code: 401
      message: UNAUTHORIZED
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.031'
      Twilio-Request-Id:
      - RQfd78e49b2dcc46c59d2e01b3e186f186
      Www-Authenticate:
      - Basic realm="Twilio API"
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 20003, "detail": "Your AccountSid or AuthToken was incorrect.",
        "message": "Authenticate", "more_info": "https://www.twilio.com/docs/errors/20003",
        "status": 401}'
  recorded_at: Thu, 06 Apr 2017 09:23:52 GMT
recorded_with: VCR 3.0.3
